<h1><%= @user.name %></h1>
<h2>New Tabulation</h2>
<form action="/users/<%= @user.id %>" method="post">
  <label for="tabulation_guest">Guest: </label>
  <select id="tabulation_guest_id" name="guest_id">
    <% @guests.each do |guest| %>
      <option value="<%= guest.id %>"><%= guest.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Paid For Guest" />
</form>
<h2>History</h2>
<ul>
  <% @tabs.each do |tab| %>
    <li>
    <p><%= tab.user.name %> paid for <%= tab.guest.name %> at <%= tab.created_at %></p>
    </li>
  <% end %>
</ul>
